.container {
  display: flex;
  align-items: center;
  padding: 10px 28px;
  background-color: #ffffff;

  &:hover {
    background-color: #f8f8f8;
  }

  .profile {
    margin-right: 8px;
  }

  .name {
    font-weight: 500;
    font-size: 16px;
    line-height: 23px;
    letter-spacing: -0.05em;
    color: #2b2b2b;
    flex-grow: 1;
  }
}
